<html>
    <style>
        div{
            height: 100px;
            width: 100px;
            display: inline-block;
            /* background-color: chartreuse; */
        }
        #one{

            background-color: brown;
            /* position: relative; */
            
        }
        #two{
            /* position: relative; */
            /* position: absolute; */
            position: fixed;
            background-color: crimson;
            /* top: 10px; */
            left: 20px;

         
        }
        #three{
            background-color: cyan;
        }
    </style>
    <head>
        <body>
            <div id="one">one</div>
            <div id="two">two</div>
            <div id="three">three</div>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis modi, neque ullam dolores commodi fuga beatae at dolore laudantium. Totam, libero corporis accusantium minus voluptates quo quaerat sunt sint fugit? 
            </h1>
        </body>
    </head>
</html>